USE [Ampersand]
GO
/****** Object:  Table [dbo].[BatteriesTelematic]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BatteriesTelematic](
	[TelematicID] [bigint] IDENTITY(1,1) NOT NULL,
	[BatteryID] [int] NOT NULL,
	[Temperature] [decimal](18, 5) NOT NULL,
	[Voltage] [decimal](18, 5) NOT NULL,
	[Longitute] [bigint] NOT NULL,
	[Lattitude] [bigint] NOT NULL,
	[time] [time](7) NOT NULL,
 CONSTRAINT [PK_BatteriesTelematic] PRIMARY KEY CLUSTERED 
(
	[TelematicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Battery]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Battery](
	[BatteryID] [int] IDENTITY(1,1) NOT NULL,
	[BatteryNumber] [nvarchar](50) NOT NULL,
	[BatteryName] [nvarchar](50) NOT NULL,
	[BatteryDetails] [nvarchar](max) NULL,
 CONSTRAINT [PK_Battery] PRIMARY KEY CLUSTERED 
(
	[BatteryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distance]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distance](
	[DistanceID] [bigint] IDENTITY(1,1) NOT NULL,
	[Longitude] [geography] NOT NULL,
	[Latitude] [geography] NOT NULL,
	[time] [time](7) NOT NULL,
	[TelematicID] [bigint] NOT NULL,
 CONSTRAINT [PK_Distance] PRIMARY KEY CLUSTERED 
(
	[DistanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[DriverNames] [nvarchar](50) NOT NULL,
	[DriverDetails] [nvarchar](max) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorcycle]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorcycle](
	[MotorcycleID] [int] IDENTITY(1,1) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[DriverID] [int] NOT NULL,
 CONSTRAINT [PK_Motorcycle] PRIMARY KEY CLUSTERED 
(
	[MotorcycleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotorcycleBattery]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotorcycleBattery](
	[MotorcycleBatteryID] [int] IDENTITY(1,1) NOT NULL,
	[BatteryID] [int] NOT NULL,
	[MotorcycleID] [int] NOT NULL,
 CONSTRAINT [PK_MotorcycleBattery] PRIMARY KEY CLUSTERED 
(
	[MotorcycleBatteryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 5) NOT NULL,
	[Mode] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceList]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceList](
	[EnergyID] [int] IDENTITY(1,1) NOT NULL,
	[Reading] [int] NOT NULL,
	[Price] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PriceList] PRIMARY KEY CLUSTERED 
(
	[EnergyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Station]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Station](
	[StationID] [int] IDENTITY(1,1) NOT NULL,
	[StationName] [nvarchar](50) NOT NULL,
	[StationAddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Station] PRIMARY KEY CLUSTERED 
(
	[StationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swap]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swap](
	[SwapID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BateryID] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Operation] [bit] NOT NULL,
	[Reading] [tinyint] NOT NULL,
 CONSTRAINT [PK_Swap] PRIMARY KEY CLUSTERED 
(
	[SwapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SwapPayment]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwapPayment](
	[SwapPaymentID] [int] NOT NULL,
	[SwapID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
 CONSTRAINT [PK_SwapPayment] PRIMARY KEY CLUSTERED 
(
	[SwapPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[isAdmin] [nchar](10) NULL,
	[StationID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BatteriesTelematic]  WITH CHECK ADD  CONSTRAINT [FK_BatteriesTelematic_Battery] FOREIGN KEY([BatteryID])
REFERENCES [dbo].[Battery] ([BatteryID])
GO
ALTER TABLE [dbo].[BatteriesTelematic] CHECK CONSTRAINT [FK_BatteriesTelematic_Battery]
GO
ALTER TABLE [dbo].[Distance]  WITH CHECK ADD  CONSTRAINT [FK_Distance_BatteriesTelematic] FOREIGN KEY([TelematicID])
REFERENCES [dbo].[BatteriesTelematic] ([TelematicID])
GO
ALTER TABLE [dbo].[Distance] CHECK CONSTRAINT [FK_Distance_BatteriesTelematic]
GO
ALTER TABLE [dbo].[Motorcycle]  WITH CHECK ADD FOREIGN KEY([DriverID])
REFERENCES [dbo].[Drivers] ([DriverID])
GO
ALTER TABLE [dbo].[MotorcycleBattery]  WITH CHECK ADD  CONSTRAINT [FK_MotorcycleBattery_Battery] FOREIGN KEY([BatteryID])
REFERENCES [dbo].[Battery] ([BatteryID])
GO
ALTER TABLE [dbo].[MotorcycleBattery] CHECK CONSTRAINT [FK_MotorcycleBattery_Battery]
GO
ALTER TABLE [dbo].[MotorcycleBattery]  WITH CHECK ADD  CONSTRAINT [FK_MotorcycleBattery_Motorcycle] FOREIGN KEY([MotorcycleID])
REFERENCES [dbo].[Motorcycle] ([MotorcycleID])
GO
ALTER TABLE [dbo].[MotorcycleBattery] CHECK CONSTRAINT [FK_MotorcycleBattery_Motorcycle]
GO
ALTER TABLE [dbo].[Swap]  WITH CHECK ADD  CONSTRAINT [FK__Swap__UserID__778AC167] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Swap] CHECK CONSTRAINT [FK__Swap__UserID__778AC167]
GO
ALTER TABLE [dbo].[Swap]  WITH CHECK ADD  CONSTRAINT [FK_Swap_Battery] FOREIGN KEY([BateryID])
REFERENCES [dbo].[Battery] ([BatteryID])
GO
ALTER TABLE [dbo].[Swap] CHECK CONSTRAINT [FK_Swap_Battery]
GO
ALTER TABLE [dbo].[SwapPayment]  WITH CHECK ADD  CONSTRAINT [FK_SwapPayment_payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[payment] ([PaymentID])
GO
ALTER TABLE [dbo].[SwapPayment] CHECK CONSTRAINT [FK_SwapPayment_payment]
GO
ALTER TABLE [dbo].[SwapPayment]  WITH CHECK ADD  CONSTRAINT [FK_SwapPayment_Swap] FOREIGN KEY([SwapID])
REFERENCES [dbo].[Swap] ([SwapID])
GO
ALTER TABLE [dbo].[SwapPayment] CHECK CONSTRAINT [FK_SwapPayment_Swap]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Station] FOREIGN KEY([StationID])
REFERENCES [dbo].[Station] ([StationID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Station]
GO
/****** Object:  StoredProcedure [dbo].[GetBatteries]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetBatteries]
AS
BEGIN
Select BatteryNumber, BatteryName,BatteryDetails From Battery
END
GO
/****** Object:  StoredProcedure [dbo].[GetDistance]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*to be adjusted later. the source and target should come from telematics table*/
CREATE PROCEDURE [dbo].[GetDistance](

@source geography = 'POINT(0 51.5)',
@target geography = 'POINT(-3 56)'
)
AS
Begin
SELECT @source.STDistance(@target)
End
GO
/****** Object:  StoredProcedure [dbo].[GetPrice]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[GetPrice]
(@reading int)
AS
BEGIN
Select price From PriceList where reading=@reading 
END
GO
/****** Object:  StoredProcedure [dbo].[SwapIn]    Script Date: 7/31/2022 10:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SwapIn]
(@BatteryNumber nvarchar(50),
@BatteryName nvarchar(50),
@BatteryDetails nvarchar(max))
AS
BEGIN
Insert into Battery (BatteryNumber, BatteryName, BatteryDetails)
values (@BatteryNumber, @BatteryName, @BatteryDetails)
END
GO
